COMPOSE_PROJECT_NAME=tshirtswiss-reference
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_ROOT_PASSWORD=root
WORDPRESS_PORT=8088
WP_HOME_URL=http://localhost:8088
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin12345
WP_ADMIN_EMAIL=admin@example.com
